#container {
  width: 840px;
  height: 840px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}


/* intro */
#intro-container{
  margin-top: 250px;
}

#intro-container .img-helper {
  display: inline-block;
  width: 33%;
}

#dt-intro, #hc-intro, #vs{
  display: none;
}

#dt-intro, #hc-intro {
  width: 250px;
  height: auto;
}

#vs {
  position: relative;
  bottom: 100px;
}


/* game board */
