/* intro */

#intro-container {
  padding-top: 250px;
  width: 840px;
  height: 840px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}


#intro-container .img-helper {
  display: inline-block;
  width: 33%;
}

#dt-intro, #hc-intro, #vs{
  display: none;
}

#dt-intro, #hc-intro {
  width: 250px;
  height: auto;
}

#vs {
  position: relative;
  bottom: 100px;
}


/* game board */

.board-container {
    display: none;
    width: 604px;
    height: 600px;
    margin: 100px auto;
    background: white;
}

.grid{
    float: left;
    width: 200px;
    height: 200px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    margin: 0; padding: 0;
}

.grid:last-child {
  border-right: none;
}

.last-row .grid{
  border-bottom: none;

}

.board-container div p{
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  height: 100px;
}



